---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-7xl text-center pt-10">Hello World!!!</h1>
    <p class="pt-60">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga asperiores corrupti quas est quo voluptatibus placeat perspiciatis nostrum molestias ipsam, architecto laudantium id illum earum itaque? Illum aliquid libero eaque?</p>
</Layout>

<style></style>
