---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Administrator IT">
  <h1 class="text-center text-4xl font-thin text-primary pt-10">
    Mateusz Mucha
  </h1>
</Layout>

<style></style>
