---
import Layout from "../layouts/Layout.astro";
import PostPreview from "../components/post/PostPreview.astro";
import { getCollection } from "astro:content";

const allPostsCollection = await getCollection("blog", ({data}) => {
    return data.draft !== true;
});
const allPosts = Object.values(allPostsCollection);
const sortedPosts = allPosts.sort((a, b) => {
    return new Date(b.data.date) - new Date(a.data.date);
});
---

<Layout title="Mateusz Mucha | My documentation blog">
    <div class="flex flex-col items-center my-16 gap-8">
        {sortedPosts.map((post) => <PostPreview post={post.data} />)}
    </div>
</Layout>

<style></style>
