---
import Logo from "../logo.astro";
import GitHubLogo from "../github-icon.astro";
import MenuIcon from "../menu-icon.astro";
---
<header class="h-16 bg-[#252627] hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)] transition duration-100 ease-in-out">
    <nav class="flex items-center justify-between mx-auto h-full w-[85%]">
        <div class="z-50">
            <a href="/">
                <Logo classList="w-36 fill-gray-300 hover:fill-white" />
            </a>
        </div>
        <div class="nav-links bg-[#252627] md:bg-transparent absolute md:static top-16 left-[-100%] h-[60vh] md:h-full w-full transition-all duration-200 ease-in z-10">
            <ul class="flex flex-col md:flex-row h-full justify-center md:justify-end items-center [&>li>a]:text-gray-300 [&>li>a:hover]:text-white gap-6">
                <li><a href="/posts">Posts</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://github.com/zaruun"><GitHubLogo classList="w-6 fill-gray-300 hover:fill-white" /></a></li>
            </ul>
        </div>
        <div class="md:hidden">
            <button id="menu" class="cursor-pointer">
                <MenuIcon  classList="w-6 fill-gray-300 hover:fill-white"/>
            </button>
        </div>
    </nav>
</header>
<script>
        const navLinks = document.querySelector('.nav-links')
        const menu = document.getElementById('menu')
        menu.addEventListener('click', onToggleMenu)
        function onToggleMenu(){
            navLinks.classList.toggle('left-[-100%]')
            navLinks.classList.toggle('left-0')
        }
</script>
<style>
</style>
