---
---

<nav class="bg-primary text-decoration">
  <div class="flex justify-between items-center container mx-auto py-9">
    <div class="logo">
      <span class="text-4xl font-thin">Mateusz Mucha</span>
    </div>
    <div class="links">
      <ul class="flex gap-14 text-lg">
        <li>Projekty</li>
        <li>Homelab</li>
        <li>CV</li>
        <li>Kontakt</li>
      </ul>
    </div>
  </div>
  <div id="navbar-mobile" class="hidden">
    <ul>
      <li>Projekty</li>
      <li>Homelab</li>
      <li>CV</li>
      <li>Kontakt</li>
    </ul>
  </div>
</nav>
